/*General Styles*/
ul,ol{
 list-style: none;
}
h1 {

 background-color: black;
 color: aquamarine;
 text-align: center;

 padding-bottom: 10px;
 padding-top: 10px;
} 

/*Styles for sections*/
#search-column {
    background-color: #eee;
}
/* styles for 5day cards*/
.five-card {
    background-color: rgb(57, 124, 201);
    color: white;
    width: 140px;
}
.five-card div p {
    font-size: small;
}
/*Styles for search list*/
#search-list{
    margin-top: 10px;
    padding-left: 0px;
    
}
#search-list li button {
    width: 100%;
    font-size: 20px;

    background-color: white;
}
